<div id="links">
	<a href="/">Home page</a> <a class="right" href="/about">About</a> 
</div>
<div id="content">

	<h2>About</h2>
	
	<p>
		Lorem Ipsum..
		
	</p>
	<p>
    Everything is on <a href="http://github.com/ianmorgan/notes">Github</a>
	</p>

    
</div>