<div id="about">
	<h2>About this site</h2>
	<p>
	This is my personal site for keeping track 
	of all those little snippets of information I keep forgetting
	</p>
	
	<p>
    Everything is on <a href="http://github.com/ianmorgan/notes">Github</a>
	</p>
	
</div>
<table class="topgrid">
	
	<tr>
		<td>
			<span>Unix</span>
			<ul>
				<li><a href="/notes/unix/commands">Commands</a></li>
				<li>Ubuntu</li>
				<li>OSX</li>
			</ul>
		</td>
		<td>
			<span>Ruby</span>
				<ul>
					<li>Rails</li>
					<li>Sinatra</li>
					<li>Language</li>
				</ul>
			
		</td>
	</tr>

	<tr>
		<td>
			<span>Java</span> 
					<ul>
						<li>Spring</li>
						<li>Hibernate</li>
						<li>Language</li>
					</ul>
		</td>
		<td>
			<span>HTML</span>
		</td>
	</tr>
	
	
</table>
