<head>
	<title>
		This is the index page
	</title>
	<link type ="text/css" rel="stylesheet" href="/assets/css/layout.css">
</head>
<body>
	<div id="body">
		<div id="header"><h1><span>Technical</span> Notes</h1></div>
		<%= yield %>
	</div>
</body>
</html>