<head>
	<title>
		This is the index page
	</title>
	<link type ="text/css" rel="stylesheet" href="/assets/css/layout.css">
</head>
<body>
	<div id="header">some header</div>
	<%= yield %>
</body>
</html>