<div id="links">
	<a href="/">Home page</a>   <a class="right" href="/about">About</a> 
</div>
<div id="content">
	<div id="notes">
		<h2>
		   <span class="topic"><%= params[:topic].capitalize %></span> <span class="category"><%= params[:category].capitalize %></span>			
		</h2>
		<% content.each do |k,v|  %>
			<h2>
				<%= notes_link(params,k,v[:title]) %>
			</h2>
			<p>
				<%= v[:content] %>
			</p>
			<p>
				<% v[:links] %>
			</p>
		<% end %>
	</div>
</div>