<div id="links">
	<a href="/">Home page</a> <%= category_link(params) %>  <a class="right" href="/about">About</a> 
</div>
<div id="content">
<div id="note">
	<h1>
		<%= content[:title] %> 		
	</h1>
	<p>
		<%= markdown(content[:content]) %>
	</p>

</div>
<div id="content">
