<div id="links">
	<a href="/">Home page</a> <a class="right" href="/about">About</a> 
</div>
<div id="content">

	<h2>Page Missing</h2>
	
	<p>
		Sorry, this page cannot be found		
	</p>
	
	<% (0..20).each do %>
		</br>
	<% end %>
	
</div>