@import 'bourbon/bourbon';body {
font-family: $lucida-grande;
}

/* 
  see http://colorschemedesigner.com/#
*/
$primary1: #123EAB;
$primary2: #2A4380;
$primary3: #06246F;
$primary4: #466FD5;
$primary5: #6C8AD5;

$primary1text: #FFF;
$primary4text: #222;

$normaltext: darken($primary4,30%);

$comp1: #FFAB00;
$comp2: #BF9030;
$comp3: #A66F00;
$comp4: #FFC040;
$comp5: #FFC040;

body {
	background-color: #CCC;
	color:$normaltext;
}

#body{
		background-color:#fff;
		margin-top: 2em;
		margin-left: 4em;
		margin-right: 4em;
		margin-bottom: 3em;
		@include border-top-left-radius(10px);
		@include border-bottom-right-radius(10px);		

}


#header {
	color: $primary4text;
	padding: 10px 50px;
	background-color: $primary4;
	@include border-top-left-radius(10px);
	@include border-bottom-right-radius(0px);

	h1 {
		margin-top: -3px;
		font-size: 25px;
		margin-bottom: -3px;
		
		span {
			border-bottom: 1px solid $comp1;
			color: #DDD;
			font-weight:thin;
		}
	}

}

#about {
	float:right;
	width:15em;
	background-color:$primary5;
	padding:1em;	
	@include border-top-left-radius(10px);
	@include border-bottom-right-radius(10px);
	
	
	h2 {
	  color:$comp1;
	  position:relative;
	  top:-10px;
	  margin-bottom:-10px;
	}
	
	p{
		font-size:0.9em;
		font-weight:normal;
	}
	
}
#content {
	margin: 20px 5em;

	
	table.topgrid {
		width: 35em;
		text-align: top;
		
		td {
			vertical-align:top;
		}
		
		span {
			position:relative;
			left:10px;
			top:10px;
			color: $primary1text;
			background-color: $primary1;
			padding-top:3px;
			padding-bottom:3px;
			padding-left:20px;
			padding-right:100px;
			@include border-radius(3px);
		}
		
		ul {
			list-style: none;
			margin-left:-10px;
			
			a {
					color: $normaltext;
					font-size:90%;
					padding:3px 5px;
					text-decoration:none;
			}
			
			
			a:hover   {
				font-weight:bold;
				background-color:$comp4;
			}
			
		}
	}
	
	h1 {
		color:$primary3;
		font-size:1.5em;
	}
	
	h2 {
			color:$primary1;
			font-size:1.2em;
			span.topic {
					color: $primary1text;
					background-color: $primary1;
					padding-top:3px;
					padding-bottom:3px;
					padding-left:20px;
					padding-right:20px;
					@include border-radius(3px);
			
			} 
	}
	
	#notes {
		h2 {
			color:$primary3;
		}
		a{
			color:darken($primary3,5%);
			text-decoration:none;
		}
		padding-bottom:10px;
		width:70%;
		div.listitem {
			background-color:lighten($primary5,30%);
			@include border-radius(3px);
			div.content{
				padding:5px;
				margin-bottom:8px;
				h2{
					margin-top:0px;
					margin-bottom:0px;
				}
				p {
					font-size:90%;
					margin-top:5px;
					margin-bottom:5px;
				}
			}
		}
		div.listitem:hover{
			background-color:lighten($primary5,20%);
		}
	}
	
	#note {
		h1 {
			text-decoration:underline;
		}
		padding-bottom:10px;
		width:70%;
		div.listitem {
			background-color:lighten($primary5,30%);
			@include border-radius(3px);
			div.content{
				padding:5px;
				margin-bottom:8px;
				h2{
					margin-top:0px;
					margin-bottom:0px;
				}
				p {
					font-size:90%;
					margin-top:5px;
					margin-bottom:5px;
				}
			}
		}
		div.listitem:hover{
			background-color:lighten($primary5,20%);
		}
	}
	
	code {
		background-color:#EEE;
		padding:5px 10px;
		@include border-radius(3px);
	}
	
}


#links {
	background-color:$comp1;
	padding-top:3px;
	padding-bottom:3px;
	
	a {
	  color:$normaltext;
	  padding-left:0.5em;
	  margin-left:0.5em;
	  font-size:0.8em;
	  text-decoration:none;
	  border-left: 1px solid $normaltext;
	}
	
	a:hover   {
		font-weight:bold;
		color:#EEE;
		background-color:darken($comp1,10%);
		
	}
	
	a.right {
		float:right;
		margin-right:0.5em;
		
	}

}

